<div>

	<h4 class="title col s5">Thông tin cửa hàng</h4>

	<form class="content">
		<div class="row ">
			<div class="input-field col s5">
				<i class="material-icons prefix">local_mall</i>
				<input #shopname id="shopname" id="shopname" type="text" class="" [(ngModel)]="shopInfo.username">
				<label for="shopname" class="active">Tên cửa hàng</label>
			</div>
			<div class="input-field col s5 offset-s1">
				<i class="material-icons prefix">contact_phone</i>
				<input id="phoneNumber" type="text" class="" value="01665009900">
				<label for="phoneNumber" class="active">Số điện thoại</label>
			</div>
		</div>
		<div class="row ">
			<div class="input-field col s5">
				<i class="material-icons prefix">access_time</i>
				<input #shopname id="shopname" name="shopname" type="text" class="timepicker" material-timepicker [(ngModel)]="shopInfo.username">
				<label for="shopname" class="active">Giờ mở cửa</label>
			</div>
			<div class="input-field col s5 offset-s1">
				<i class="material-icons prefix">access_time</i>
				<input id="phoneNumber" type="text" class="timepicker" value="01665009900">
				<label for="phoneNumber" class="active">Giờ đóng cửa</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s5">
				<i class="material-icons prefix">location_on</i>
				<input id="latitude" type="text" class="" value="1.0">
				<label for="latitude" class="active">Latitude</label>
			</div>
			<div class="input-field col s5 offset-s1">
				<i class="material-icons prefix">location_on</i>
				<input id="longitude" type="text" class="" value="1.0">
				<label for="longitude" class="active">Longitude</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s11">
				<i class="material-icons prefix">map</i>
				<input id="address" type="text" class="" value="user.address">
				<label for="address" class="active">Địa chỉ</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s11">
				<i class="material-icons prefix">description</i>
				<input id="address" type="text" class="" value="user.address">
				<label for="address" class="active">Địa chỉ</label>
			</div>
		</div>
	</form>



	<!-- 
  <p>policy</p>
  <p>faq</p> -->
</div>