.nav-wrapper {
  padding-left: 20px;
  background: #0fb8ad;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); /* Standard syntax */
}

.content {
  padding: 0px 10px;
}

.sidenav-trigger{
  position: absolute;
  cursor: pointer;
}

.nav-wrapper > .s12{
  padding-left:35px
}

@media screen and (min-width: 993px) {
  .sidenav-trigger{
    display: none;
  }

  .nav-wrapper > .s12{
    padding-left:0px
  }
}
