<div>
    <h4 class="title col s6">Danh sách khuyến mãi</h4>
    <a class="waves-effect waves-light btn btn-add" (click)="onAddButtonTap()">
        <i class="material-icons left">add_circle</i>Thêm khuyến mãi mới</a>
    <ul *ngIf="pagination.pageList && pagination.pageList.length" class="pagination right">
        <li class="waves-effect first-page" [ngClass]="{'disabled': pagination.page == 1}">
            <a (click)="pagination.firstPage()">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
        <li style="cursor: pointer;" [ngClass]="pagination.page==page ? 'active' : ''" *ngFor="let page of pagination.pageList;"
            (click)="getPromotionList(page)">
            <a>{{ page }}</a>
        </li>
        <li class="waves-effect last-page" [ngClass]="{'disabled': pagination.page == pagination.numOfPage}">
            <a (click)="pagination.lastPage()">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    </ul>
    <table class="bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên</th>
                <th>Mô tả</th>
                <th>Giảm giá (%)</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let promotion of promotionList; let i=index" (click)="showPromotionDetails(promotion)">
                <td>{{i + 1}}</td>
                <td>{{promotion.name ? promotion.name : '-' }}</td>
                <td>{{promotion.description ? promotion.description : '-'}}</td>
                <td>{{promotion.percent ? promotion.percent : '-'}}</td>
                <td>{{promotion.start_date | sdDateTime}}</td>
                <td>{{promotion.end_date | sdDateTime}}</td>
            </tr>
        </tbody>
    </table>
</div>