.content {
    text-align: center;
}

.btn-login {
    color: #ffffff
}

.title {
    color: #26a69a
}

.width-100 {
    width: 100%;
}

.login-container {
    max-width: 450px;
    box-sizing: border-box;
    padding: 0 .75rem;
}