<ul id="handmade-left-menu" class="sidenav sidenav-fixed">
  <li class="logo">
    <div class="logo-container">
      <a class="brand-logo">
        <div class="row">
          <div class="col s12">
            <img src="../../../../../assets/images/icon.png">
          </div>
        </div>
      </a>
    </div>
  </li>
  <li>
    <a class="side-bar-text" [routerLink]="[ '/dashboard/user']" [routerLinkActive]="['router-link-active']">Quản lý người dùng</a>
  </li>
  <li>
    <a class="side-bar-text" [routerLink]="[ '/dashboard/shop']" [routerLinkActive]="['router-link-active']">Quản lý thông tin shop</a>
  </li>
  <li>
    <a class="side-bar-text" [routerLink]="[ '/dashboard/product']" [routerLinkActive]="['router-link-active']">Quản lý sản phẩm</a>
  </li>
  <li>
    <a class="side-bar-text" [routerLink]="[ '/dashboard/category']" [routerLinkActive]="['router-link-active']">Quản lý Loại sản phẩm</a>
  </li>
  <li>
    <a class="side-bar-text" [routerLink]="[ '/dashboard/order']" [routerLinkActive]="['router-link-active']">Quản lý đơn hàng</a>
  </li>
  <li>
    <a class="side-bar-text" [routerLink]="[ '/dashboard/promotion']">Quản lý khuyến mãi</a>
  </li>
  <li>
    <a class="side-bar-text" [routerLink]="[ '/dashboard/color']">Quản lý màu sắc</a>
  </li>
  <li>
    <a class="side-bar-text" [routerLink]="[ '/dashboard/material']">Quản lý chất liệu</a>
  </li>
  <li>
    <a class="side-bar-text" [routerLink]="[ '/dashboard/notify']" [routerLinkActive]="['router-link-active']">Gửi thông báo</a>
  </li>
  <li>
    <a (click)='onClickLogOut()' class="side-bar-text" style="cursor: pointer">Đăng xuất</a>
  </li>
  <li>
    <div class="section"></div>
  </li>
</ul>
<!-- <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> -->
<!-- <ul id="slide-out" class="sidenav sidenav-fixed">
    <li><div class="user-view">
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul> -->
