<ul id="slide-out" class="sidenav sidenav-fixed">
  <div class="logo-container">
    <a href="#" class="brand-logo">Logo</a>
  </div>
  <li>
    <a class="side-bar-text" [routerLink]="[ '/dashboard/user' ]" [routerLinkActive]="['router-link-active']">Quản lí người dùng</a>
  </li>
  <li>
    <a class="side-bar-text" [routerLink]="[ '/dashboard/shop' ]" [routerLinkActive]="['router-link-active']">Quản lí thông tin shop</a>
  </li>
  <li>
    <a class="side-bar-text" [routerLink]="[ '/dashboard/product' ]" [routerLinkActive]="['router-link-active']">Quản lí sản phẩm</a>
  </li>
  <li>
    <a class="side-bar-text" [routerLink]="[ '/dashboard/order' ]" [routerLinkActive]="['router-link-active']">Quản lí đơn hàng</a>
  </li>
  <li>
    <a class="side-bar-text" [routerLink]="[ '/dashboard/promotion' ]">Quản lí khuyến mãi</a>
  </li>
   <li>
    <a class="side-bar-text">Quản lí màu sắc</a>
  </li>
   <li>
    <a class="side-bar-text">Quản lí chất liệu</a>
  </li>
   <li>
    <a class="side-bar-text" [routerLink]="[ '/dashboard/notify' ]" [routerLinkActive]="['router-link-active']">Gửi thông báo</a>
  </li>
   <li>
    <a (click)='onClickLogOut()' class="side-bar-text">Đăng xuất</a>
  </li>
</ul>
<!-- <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> -->
<!-- <ul id="slide-out" class="sidenav sidenav-fixed">
    <li><div class="user-view">
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul> -->

