<div class="page-container">
  <div class="row page-title">
    <div class="col s8">
      <span class="title">Danh sách sản phẩm</span>
    </div>
    <div class="col s4">
      <a class="waves-effect waves-light btn btn-add right" (click)="onAddButtonTap()">
        <i class="material-icons left">add_circle</i>
        <span>Thêm sản phẩm mới</span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <select *ngIf="listCategory && listCategory.length > 0" material-select (materialSelectEmiter)="onSelectCategory($event)">
        <option value="" disabled selected>Chọn ngành hàng</option>
        <option value="">Tất cả</option>
        <option *ngFor="let item of listCategory" [value]="item.id">{{item.get('category_name')}}</option>
      </select>
      <!-- <label>Ngành hàng</label> -->
    </div>
    <div class="col s8">
      <ul *ngIf="pagination.pageList && pagination.pageList.length" class="pagination right">
        <li class="waves-effect first-page" [ngClass]="{'disabled': pagination.page == 1}">
          <a (click)="pagination.firstPage()">
            <i class="material-icons">chevron_left</i>
          </a>
        </li>
        <li *ngFor="let page of pagination.pageList" class="waves-effect" [ngClass]="{'active': page == pagination.page}" (click)="getProduct(page)">
          <a>{{page}}</a>
        </li>
        <li class="waves-effect last-page" [ngClass]="{'disabled': pagination.page == pagination.numOfPage}">
          <a (click)="pagination.lastPage()">
            <i class="material-icons">chevron_right</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <table class="bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Tên sản phẩm</th>
            <th>Ngành hàng</th>
            <th>Mô tả</th>
            <!-- <th>Giá</th> -->
            <th>Tình trạng</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let product of listProduct; let i=index" (click)="showProductDetails(product)">
            <td>{{i + 1}}</td>
            <td>{{product.get('product_name')}}</td>
            <td>{{product.get('category').get('category_name')}}</td>
            <td class="text-overflow">{{product.get('product_description')}}</td>
            <!-- <td>{{product.get('price')}}</td> -->
            <td>
              <span *ngIf="product.get('status') == 'block'">Hết hàng</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
