<div class="promotion-detail-container">
    <div class="promotion-details-layout z-depth-3 row">
        <div class="btn-close">
            <a class="btn-floating btn-small waves-effect waves-light materialize-red lighten-1" (click)="goBack()">
                <i class="material-icons">close</i>
            </a>
        </div>
        <form #promotionForm="ngForm" class="col s12">
            <div class="row promotion-info-container">
                <div class="col s8">
                    <div class="row">
                        <div class="input-field col s12">
                            <input #name id="name" type="text" class="validate" name="name" [(ngModel)]="promotion.name" validate-onblur (emiter)="promotionNameErrorMessage($event)"
                                required [ngClass]="name.errors || formInvalid.nameRequired ? 'invalid' : ''">
                            <label for="name" class="active">Tên khuyến mãi</label>
                            <span class="helper-text" *ngIf="name.errors || formInvalid.nameRequired" data-error="Tên khuyến mãi không được để trống"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea #description id="description" class="materialize-textarea" name="description" [(ngModel)]="promotion.description"></textarea>
                            <label for="description" class="active">Mô tả khuyến mãi</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input #percent id="percent" type="text" class="validate" name="percent" [(ngModel)]="promotion.percent" validate-onblur
                                (emiter)="percentErrorMessage($event)" required [ngClass]="percent.errors || formInvalid.percentRequired ? 'invalid' : ''">
                            <label for="percent" class="active">Giảm giá (%)</label>
                            <span class="helper-text" *ngIf="percent.errors || formInvalid.nameRequired" data-error="Giảm giá không được để trống"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5 sd-datepicker-container">
                            <i class="material-icons prefix">access_time</i>
                            <input class="sd-datepicker" [value]="promotion.start_date | sdDateTime" />
                            <input #startdate id="startdate" name="startdate" type="text" class="datepicker" material-datepicker [(ngModel)]="promotion.start_date"
                                (materialDatePickerEmiter)="onMaterialStartDatePickerEmiter($event)" [ngClass]="formInvalid.startDateRequired || formInvalid.startDateBeforeToDay || formInvalid.startDateAfterEndDate ? 'invalid' : ''"
                                [datePickerInput]="promotion.start_date">
                            <label for="startdate" class="active">Ngày bắt đầu</label>
                            <span class="helper-text" *ngIf="formInvalid.startDateRequired" data-error="Ngày bắt đầu không được để trống"></span>
                            <span class="helper-text" *ngIf="formInvalid.startDateBeforeToDay" data-error="Ngày bắt đầu phải sau ngày hôm nay"></span>
                            <span class="helper-text" *ngIf="formInvalid.startDateAfterEndDate" data-error="Ngày bắt đầu phải trước ngày kết thúc"></span>
                        </div>
                        <div class="input-field col s5 offset-s1 sd-datepicker-container">
                            <i class="material-icons prefix">access_time</i>
                            <input class="sd-datepicker" [value]="promotion.end_date | sdDateTime" />
                            <input #enddate id="enddate" name="enddate" type="text" class="datepicker" material-datepicker [(ngModel)]="promotion.end_date"
                                (materialDatePickerEmiter)="onMaterialEndDatePickerEmiter($event)" [ngClass]="formInvalid.endDateRequired || formInvalid.endDateBeforeToday || formInvalid.endDateBeforeStartDate ? 'invalid' : ''"
                                [datePickerInput]="promotion.end_date" />
                            <label for="enddate" class="active">Ngày kết thúc</label>
                            <span class="helper-text" *ngIf="formInvalid.endDateRequired" data-error="Ngày kết thúc không được để trống"></span>
                            <span class="helper-text" *ngIf="formInvalid.endDateBeforeToday" data-error="Ngày kết thúc phải sau ngày hôm nay"></span>
                            <span class="helper-text" *ngIf="formInvalid.endDateBeforeStartDate" data-error="Ngày kết thúc phải sau ngày bắt đầu"></span>
                        </div>
                    </div>
                </div>
                <div class="col s4 center-align promotion-action">
                    <a class="waves-effect waves-light btn btn-save" (click)="savePromotion(promotionForm)">
                        <i class="material-icons left">save</i>
                        <span>Lưu</span>
                    </a>
                    <a class="waves-effect waves-light btn btn-delete materialize-red lighten-1" (click)="confirmDelete.open()" *ngIf="promotion.id">
                        <i class="material-icons left">close</i>
                        <span>Xóa khuyến mãi</span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<div #confirmDelete material-modal class="modal">
    <div class="modal-content">
        <p style="font-size:1.1em">
            Bạn có chắc chắn muốn xóa khuyến mãi này?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn modal-close waves-effect waves-light materialize-green">Không</button>
        <button class="btn modal-close waves-effect waves-light materialize-red" (click)="onDeletePromotionButtonTap()">Có</button>
    </div>
</div>