<div class="user-details-layout z-depth-3">
	<div class="btn-close">
		<a class="btn-floating btn-small waves-effect waves-light materialize-red lighten-1" (click)="goBack()">
			<i class="material-icons">close</i>
		</a>
	</div>
	<form #userDetailForm="ngForm" class="col s12">
		<div class="row">
			<div class="col s8">
				<div class="row" *ngIf="pageType == 'add'">
					<div  class="input-field col s6">
						<i class="material-icons prefix">contacts</i>
						<input #username id="username" name="username" maxlength="50" type="text" class="" [(ngModel)]="user.userName" [pattern]="userError.username.pattern"
						validate-onblur required (emiter)="usernameErrorMessage($event)">
						<label for="username" [attr.data-error]="userError.username.message" [class]="pageType != 'add' ? 'active' : ''">Tài khoản</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">person</i>
						<input #lastname id="lastname" name="lastname" maxlength="50" type="text" class="" [(ngModel)]="user.lastName" [pattern]="userError.lastname.pattern"
						validate-onblur required (emiter)="lastnameErrorMessage($event)">
						<label for="lastname" [attr.data-error]="userError.lastname.message" [class]="pageType != 'add' ? 'active' : ''">Họ</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">person</i>
						<input #firstname id="firstname" name="firstname" maxlength="50" type="text" class="" [(ngModel)]="user.firstName" [pattern]="userError.firstname.pattern"
						validate-onblur required (emiter)="firstnameErrorMessage($event)">
						<label for="firstname" [attr.data-error]="userError.firstname.message" [class]="pageType != 'add' ? 'active' : ''">Tên</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">phone</i>
						<input #phonenumber id="phonenumber" name="phonenumber" maxlength="11" type="text" class="" [(ngModel)]="user.phoneNumber" [pattern]="userError.phonenumber.pattern"
						validate-onblur required (emiter)="phonenumberErrorMessage($event)">
						<label for="phonenumber" [attr.data-error]="userError.phonenumber.message" [class]="pageType != 'add' ? 'active' : ''">Số điện thoại</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">email</i>
						<input #email id="email" type="email" name="email" class="" maxlength="50" [(ngModel)]="user.email" [pattern]="userError.email.pattern"
						validate-onblur required (emiter)="emailErrorMessage($event)">
						<label for="email" [attr.data-error]="userError.email.message" [class]="pageType != 'add' ? 'active' : ''">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">map</i>
						<input #address id="address" name="address" type="text" maxlength="255" class="" [(ngModel)]="user.address" [pattern]="userError.address.pattern"
						validate-onblur required (emiter)="addressErrorMessage($event)">
						<label for="address" [attr.data-error]="userError.address.message" [class]="pageType != 'add' ? 'active' : ''">Địa chỉ</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<i class="material-icons prefix">wc</i>
						<select #gender name="gender" id="gender" [value]="user.gender">
							<option value="male">Nam</option>
							<option value="female">Nữ</option>
						</select>
						<label>Giới tính</label>
					</div>
					<div class="input-field col s6">
						<i class="material-icons prefix">wc</i>
						<select #gender name="usertype" id="usertype" [value]="user.usertype">
							<option value="admin">Quản trị viên</option>
							<option value="">Khách hàng</option>
						</select>
						<label>Loại khách hàng</label>
					</div>
				</div>
			</div>
			<div class="col s4 center-align">
				<img [src]="user.avatar ? user.avatar : '../../../../assets/images/avatar_default.png'" stretch="fill" class="z-depth-1">
				<h5 *ngIf="pageType != 'add'" style="color: #797979">@{{user.userName}}</h5>
				<div class="switch">
					<label>
						<input *ngIf="user.block" type="checkbox" :checked>
						<input *ngIf="!user.block" type="checkbox">
						<span class="lever"></span>
						<label for="block">Khóa tài khoản</label>
					</label>
				</div>
				<a class="waves-effect waves-light btn btn-save" (click)="onSaveButtonTap()">
					<i class="material-icons left">save</i>Lưu lại</a>
				<a class="waves-effect waves-light btn btn-delete materialize-red lighten-1" (click)="onDeleteUserButtonTap()">
					<i class="material-icons left">close</i>Xóa tài khoản</a>
			</div>
		</div>
	</form>
	
</div>