<div>
    <h4 class="title col s6">Danh sách màu sắc</h4>
    <a class="waves-effect waves-light btn btn-add" (click)="onAddButtonTap($event)">
        <i class="material-icons left">add_circle</i>Thêm màu sắc mới</a>
    <ul *ngIf="pagination.pageList && pagination.pageList.length" class="pagination right">
        <li class="waves-effect first-page" [ngClass]="{'disabled': pagination.page == 1}">
            <a (click)="pagination.firstPage()">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
        <li style="cursor: pointer;" [ngClass]="pagination.page==page ? 'active' : ''" *ngFor="let page of pagination.pageList;"
            (click)="getColorList(page)">
            <a>{{ page }}</a>
        </li>
        <li class="waves-effect last-page" [ngClass]="{'disabled': pagination.page == pagination.numOfPage}">
            <a (click)="pagination.lastPage()">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    </ul>
    <table class="bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên</th>
                <th>Mô tả</th>
                <th>Màu</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let color of colorList; let i=index" (click)="showColorDetails(color)">
                <td>{{i + 1}}</td>
                <td>{{color.name ? color.name : '-' }}</td>
                <td>{{color.description ? color.description : '-' }}</td>
                <td style="padding: 5px 5px;">
                    <div class="color-box" [style.background-color]="color.code"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>