<div class="color-detail-container">
    <div class="color-details-layout z-depth-3 row">
        <div class="btn-close">
            <a class="btn-floating btn-small waves-effect waves-light materialize-red lighten-1" (click)="goBack()">
                <i class="material-icons">close</i>
            </a>
        </div>
        <form #colorForm="ngForm" class="col s12">
            <div class="row color-info-container">
                <div class="col s8">
                    <div class="row">
                        <div class="input-field col s12">
                            <input #name id="name" type="text" class="validate" name="name" [(ngModel)]="color.name" validate-onblur (emiter)="colorNameErrorMessage($event)"
                                required [ngClass]="name.errors || formInvalid.nameRequired ? 'invalid' : ''">
                            <label for="name" class="active">Tên màu sắc</label>
                            <span class="helper-text" *ngIf="name.errors || formInvalid.nameRequired" data-error="Tên màu sắc không được để trống"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea #description id="description" class="materialize-textarea" name="description" [(ngModel)]="color.description"></textarea>
                            <label for="description" class="active">Mô tả màu sắc</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input #code id="code" class="materialize-textarea" name="code" [(ngModel)]="color.code" [(colorPicker)]="color.code" />
                            <label for="code" class="active">Màu</label>
                        </div>
                    </div>
                </div>
                <div class="col s4 center-align color-action">
                    <a class="waves-effect waves-light btn btn-save" (click)="saveColor(colorForm)">
                        <i class="material-icons left">save</i>
                        <span>Lưu</span>
                    </a>
                    <a class="waves-effect waves-light btn btn-delete materialize-red lighten-1" (click)="onDeleteColorButtonTap()" *ngIf="color.id">
                        <i class="material-icons left">close</i>
                        <span>Xóa màu sắc</span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<div #confirmDelete material-modal class="modal">
    <div class="modal-content">
        <p style="font-size:1.1em">
            Bạn có chắc chắn muốn xóa màu sắc này?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn modal-close waves-effect waves-light materialize-green">Không</button>
        <button class="btn modal-close waves-effect waves-light materialize-red" (click)="onDeleteColorButtonTap()">Có</button>
    </div>
</div>