.product-details-layout {
  margin-top: 20px;
  padding: 20px 0px;
  /* width: calc(100% - 10px); */
  height: 100%;
  background-color: #ececec;
}

.z-depth-3{
  box-shadow: unset !important;
}

.product-avatar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  /* margin-top: 40px; */
  margin-bottom: 10px;
  width: 100px;
  border-radius: 50px;
}

.avatar-container {
  background-color: #5c7aa9;
}

.material-icons.prefix {
  color: #999;
}

.input-field .prefix.active {
  color: #26a69a;
}

.switch {
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-action > a{
  width: 80%;
  margin-bottom: 15px;
}

.product-action > a:last-child{
  margin: 0px;
}

.btn-close {
  position: absolute;
  right: 3%;
}

.product-detail-title{
  color: #9e9e9e;
  font-size: 1.2em;
}

table{
  color: #9e9e9e;
}

.product-detail-action i{
  cursor: pointer;
}

.product-info-container{
  display: flex;
  align-items: center;
}

.product-detail-action{
  padding: 10px 0px;
}

.product-detail-action > button{
  width: 90%;
  margin-bottom: 10px;
}
