<div class="product-detail-container">
  <div class="product-details-layout z-depth-3 row">
    <div class="btn-close">
      <a class="btn-floating btn-small waves-effect waves-light materialize-red lighten-1" (click)="goBack()">
        <i class="material-icons">close</i>
      </a>
    </div>
    <form #addProductForm="ngForm" *ngIf="product" class="col s12">
      <div class="row product-info-container">
        <div class="col s8">
          <div class="row">
            <div class="input-field col s12">
              <input id="name" type="text" class="validate" name="name" [(ngModel)]="product.name" required>
              <label for="name" class="active">Tên sản phẩm</label>
              <span class="helper-text" data-error="Tên sản phẩm không được để trống"></span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <select *ngIf="listCategory && listCategory.length > 0" name="category" [(ngModel)]="product.category" material-select>
                <option value="" disabled selected>Chọn ngành hàng</option>
                <option *ngFor="let item of listCategory" [value]="item.id">{{item.get('category_name')}}</option>
              </select>
              <label>Ngành hàng</label>
            </div>
            <div class="input-field col s6">
              <select name="status" [(ngModel)]="product.status" material-select>
                <option value="">Còn hàng</option>
                <option value="block">Hết hàng</option>
              </select>
              <label>Tình trạng</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="description" class="materialize-textarea" name="description" [(ngModel)]="product.description"></textarea>
              <label for="description" class="active">Mô tả sản phẩm</label>
            </div>

          </div>
        </div>
        <div class="col s4 center-align product-action">
          <!-- <img [src]="product.image ? product.image : '../../../../assets/images/product_default.png'" stretch="fill" class="z-depth-1">
          <div>
            <a (click)="file.click()">Thay đổi ảnh</a>
            <input #file type="file" (change)="changePhoto(file)" style="display:none">
          </div> -->
          <a class="waves-effect waves-light btn btn-save" (click)="saveProduct(addProductForm)">
            <i class="material-icons left">save</i>
            <span>Lưu</span>
          </a>
          <a class="waves-effect waves-light btn btn-save" [ngClass]="{'disabled':product.id == ''}" (click)="bindingProductDetail(addProductDetailModal)">
            <i class="material-icons left">add</i>
            <span>Thêm SP chi tiết</span>
          </a>
          <a class="waves-effect waves-light btn btn-delete materialize-red lighten-1" [ngClass]="{'disabled':product.id == ''}" (click)="confirmDelete.open()">
            <i class="material-icons left">close</i>
            <span>Xóa sản phẩm</span>
          </a>
        </div>
      </div>
    </form>
  </div>

  <div class="product-details-layout z-depth-3 row">
    <div class="row">
      <div class="col s12">
        <p class="product-detail-title">Danh sách hàng hóa chi tiết</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <table>
          <thead>
            <th>STT</th>
            <th>Sku</th>
            <th>Chất liệu</th>
            <th>Màu sắc</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let item of productDetailList; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.get('sku') }}</td>
              <td>{{ item.get('material').get('material_name') }}</td>
              <td>{{ item.get('color').get('color_name') }}</td>
              <td>{{ tools.numberToFormatedString(item.get('price')) }}</td>
              <td>{{ item.get('quantity') }}</td>
              <td class="product-detail-action">
                <span class="orange-text text-darken-2" (click)="bindingProductDetail(addProductDetailModal, item)">
                  <i class="material-icons">edit</i>
                </span>
                <span class="red-text text-darken-2" (click)="confirmDeleteDetail.open();confirmDeleteDetail.product = item">
                  <i class="material-icons">delete</i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div #addProductDetailModal material-modal class="modal">
  <div class="modal-content">
    <div class="row">
      <h4 class="col s12">{{ isEdit ? 'Chỉnh sửa sản phẩm chi tiết': 'Thêm sản phẩm chi tiết' }}</h4>
    </div>
    <div class="row">
      <form #productDetailForm="ngForm">
        <div class="col s8">
          <div class="input-field col s12">
            <input #sku id="sku" type="text" class="validate" name="sku" [(ngModel)]="productDetail.sku" validate-onblur required [pattern]="skuPattern">
            <label for="sku" class="active">Sku</label>
            <span class="helper-text" data-error="Sku phải vừa đủ 8 ký tự và toàn số"></span>
          </div>
          <div class="input-field col s12">
            <input id="price" type="number" step="1000" min="0" class="validate" name="price" [(ngModel)]="productDetail.price" validate-onblur required>
            <label for="price" class="active">Giá</label>
            <span class="helper-text" data-error="Giá không được để trống hoặc bé hơn 0"></span>
          </div>
          <div class="input-field col s12">
            <input id="quantity" type="number" step="1" min="0" class="validate" name="quantity" [(ngModel)]="productDetail.quantity"
              required>
            <label for="quantity" class="active">Số lượng</label>
            <span class="helper-text" data-error="Số lượng không được để trống hoặc bé hơn 0"></span>
          </div>
          <div class="input-field col s12">
            <select *ngIf="materialList && materialList.length > 0" name="material" [(ngModel)]="productDetail.material" validate-onblur material-select>
              <option value="" disabled selected>Chọn chất liệu</option>
              <option *ngFor="let item of materialList" [value]="item.id">{{item.get('material_name')}}</option>
            </select>
            <label>Chất liệu</label>
          </div>
          <div class="input-field col s12">
            <select *ngIf="colorList && colorList.length > 0" name="color" [(ngModel)]="productDetail.color" material-select>
              <option value="" disabled selected>Chọn màu sắc</option>
              <option *ngFor="let item of colorList" [value]="item.id">{{item.get('color_name')}}</option>
            </select>
            <label>Màu sắc</label>
          </div>
          <div class="input-field col s12">
            <select *ngIf="promotionList && promotionList.length > 0" name="promotion" [(ngModel)]="productDetail.promotion" material-select>
              <option value="" disabled selected>Chọn khuyến mãi</option>
              <option *ngFor="let item of promotionList" [value]="item.id">{{item.get('name')}}</option>
            </select>
            <label>Khuyến mãi</label>
          </div>
        </div>
        <div class="col s4 center-align">
          <img [src]="(productDetail && productDetail.image && productDetail.image._url) ? productDetail.image._url : '../../../../assets/images/product_default.png'"
            stretch="fill" class="z-depth-1">
          <div>
            <a (click)="file.click()">Thay đổi ảnh</a>
            <input #file type="file" (change)="changePhoto(file)" style="display:none">
          </div>
          <div class="center-align product-detail-action">
            <button class="btn waves-effect waves-light" (click)="saveProductDetail(productDetailForm)">
              <i class="material-icons left">save</i>
              <span>Lưu</span>
            </button>
            <button class="btn waves-effect waves-light materialize-red" (click)="closeProductDetail(addProductDetailModal)">
              <i class="material-icons left">close</i>
              <span>Đóng</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <div class="modal-footer">

  </div> -->
</div>

<div #confirmDeleteDetail material-modal class="modal">
  <div class="modal-content">
    <p style="font-size:1.1em">
      Bạn có chắc chắn muốn xóa sản phẩm chi tiết này?
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn modal-close waves-effect waves-light materialize-green">Không</button>
    <button class="btn modal-close waves-effect waves-light materialize-red" (click)="deleteProductDetail(confirmDeleteDetail.product)">Có</button>
  </div>
</div>

<div #confirmDelete material-modal class="modal">
  <div class="modal-content">
    <p style="font-size:1.1em">
      Bạn có chắc chắn muốn xóa sản phẩm này?
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn modal-close waves-effect waves-light materialize-green">Không</button>
    <button class="btn modal-close waves-effect waves-light materialize-red" (click)="deleteProduct()">Có</button>
  </div>
</div>
