<div>
	<h4 class="title col s6">Danh sách loại sản phẩm</h4>
	<a class="waves-effect waves-light btn btn-add" (click)="onAddButtonTap($event)">
		<i class="material-icons left">add_circle</i>Thêm loại sản phẩm mới</a>
	<ul *ngIf="pagination.pageList && pagination.pageList.length" class="pagination right">
		<li class="waves-effect first-page" [ngClass]="{'disabled': pagination.page == 1}">
			<a (click)="pagination.firstPage()">
				<i class="material-icons">chevron_left</i>
			</a>
		</li>
		<li style="cursor: pointer;" [ngClass]="pagination.page==page ? 'active' : ''" *ngFor="let page of pagination.pageList;" (click)="getUserList(page)">
			<a>{{ page }}</a>
		</li>
		<li class="waves-effect last-page"  [ngClass]="{'disabled': pagination.page == pagination.numOfPage}">
			<a (click)="pagination.lastPage()"> 
				<i class="material-icons">chevron_right</i>
			</a>
		</li>
	</ul>
	<table class="bordered">
		<thead>
			<tr>
				<th style="padding-right: 30px">#</th>
				<th style="width: 20%">Tên loại sản phẩm</th>
				<th style="text-align: center">Hình ảnh</th>
                <th>Ngày tạo</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let category of categoryList; let i=index" (click)="showCategoryDetails(category)">
				<td>{{ i+1 }}</td>
				<td>{{ category.get('category_name') }}</td>
				<td style="text-align: center">
                    <div>
                        <img stretch="fill" style="height: 10%; width: 10%;" [src]="category.get('image') ? category.get('image').url() : '../../../../assets/images/product_default.png'">
                    </div>
                </td>
				<td>{{ category.get('createdAt') | sdDateTime }}</td>
			</tr>
		</tbody>
	</table>
</div>